<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head :: head( ~{::title} )">
	<meta charset="UTF-8">
	<title>Pregled potraživanja</title>
</head>


<body class="fx-box fx-dir-col">	
	<header th:replace="fragment/header :: header"></header>

	<main class="fx-box fx-dir-row fx-grow1">
		<aside id="aside-left" class="y-2em-padding">
			<ul>
				<li th:each="cus, stat : ${customers}" class="vnav cust-nav" th:id="${'customer_' + cus.id}">
					<a th:href="@{/billings/overview/{yyyy}/customer/{cus_id}(yyyy=${year}, cus_id=${cus.id})}"
						onclick="event.preventDefault(); insertFragmentTo(this.href, 'main_conetent');">
						<span th:text="${cus.name}"></span>
					</a>					
				</li>
			</ul>		
		
		</aside>
		
		<section id="main_conetent" class="fx-box fx-grow1 fx-dir-col fx-justify-start">

			<th:block th:include="fragment/billing :: overview">				
			</th:block>			
					
		</section>
	
	</main>
	
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>