<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head :: head( ~{::title} )">
	<meta charset="UTF-8">
	<title>Kupci</title>
</head>


<body class="fx-box fx-dir-col">
	<header th:replace="fragment/header :: header"></header>
	<main class="fx-box fx-dir-row fx-grow1">
		<aside id="aside-left">
			<div style="width: 220px;" class="x-1em-padding y-2em-padding">
				<a th:with="letter=${T(rs.neks.administration.util.TextUtils).toChar(i)}"
					th:href="@{/customers/search/{first_letter}(first_letter=${letter})}" class="x-05em-margin bttn-3d"
					th:each="i: ${#numbers.sequence(65, 90)}" th:text="${letter}"
					th:classappend="${#strings.equals(searchParam, letter)} ? 'bttn-3d-ok' : ''">
				</a>
			</div>
		</aside>

		<section id="main_conetent" class="fx-box fx-grow1 fx-wrap fx-justify-start fx-valign-start fx-aligncnt-start x-2em-padding y-1em-padding">		
			<th:block th:include="fragment/customer :: overview"></th:block>			
		</section>
	</main>		
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>