<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head :: head( ~{::title} )">
	<meta charset="UTF-8">
	<title>Pregled Fakturisanja</title>
</head>


<body class="fx-box fx-dir-col">	
	<header th:replace="fragment/header :: header"></header>

	<main class="fx-box fx-dir-row fx-grow1">
		<aside>
			<ul>
				<li>Januar</li>
				<li>Februar</li>
				<li>Mart</li>
				<li>April</li>
			</ul>		
		</aside>
		<section id="main_conetent">

			<th:block th:include="fragment/invoice :: overview">				
			</th:block>			
					
		</section>
	
	</main>
	
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>