<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head :: head( ~{::title} )">
	<meta charset="UTF-8">
	<title>Pregled Fakturisanja</title>
</head>


<body class="fx-box fx-dir-col">	
	<header th:replace="fragment/header :: header"></header>

	<main class="fx-box fx-dir-row fx-grow1">
		<aside id="aside-left">
			<ul>
				<li th:each="m, stat : ${T(java.time.Month).values()}" class="tr-li">
					<a th:href="@{/invoices/overview/{yyyy}/{mm}(yyyy=${year}, mm=${m.getValue()})}"
						onclick="event.preventDefault(); insertFragmentTo(this.href, 'main_conetent');"						
						th:classappend="${m.getValue() == month} ? 'active' : ''">
						<span th:text="${m.name()}"></span>
					</a>					
				</li>
			</ul>		
		</aside>
		<section id="main_conetent" class="fx-box fx-grow1 fx-justify-cnt">

			<th:block th:include="fragment/invoice :: overview">				
			</th:block>			
					
		</section>
	
	</main>
	
	<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>