<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head :: head( ~{::title} )">
	<meta charset="UTF-8">
	<title>Prijava</title>
</head>

<body class="fx-box fx-justify-cnt fx-valign-cnt">

	<div class="popup-box login-box fx-flex-0">		
		<div class="popup-box-header">			
			<span th:text="${#messages.msg('login')}">Prijavi se</span>
		</div>
		<div class="x-2em-padding y-1em-padding">
			<div class="y-1em-padding txt-center">
				<img alt="Neks" th:src="@{/resources/img/neks_logo_32.png}"><br>
				<span class="date-value">ADMINISTRACIJA</span>
			</div>
			<form name="login_form" th:action="@{/login}" method="post" th:object="${operator}">
				<div th:if="${param.error}" class="fieldError-label">
                    <span th:text="${#messages.msg('login.bad.credential.error')}"></span>
                </div>
				<div class="y-05em-padding">
					<label for="username" th:text="${#messages.msg('username')}">Korisničko ime</label><br>
					<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError-label"></span>
					<input type="text" id="username" th:field="*{username}" class="full-width"
						th:appendclass="${#fields.hasErrors('username')}? fieldError" />
				</div>	
				<div class="y-05em-padding">
					<label for="pay_pdate" th:text="${#messages.msg('password')}">Lozinka</label><br>
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError-label"></span>
					<input type="password" id="pay_pdate" th:field="*{password}" class="full-width"
						th:appendclass="${#fields.hasErrors('username')}? fieldError" />
				</div>
				<div class="y-1em-padding txt-right">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					<input type="submit" th:value="${#messages.msg('login')}" class="bttn-3d bttn-3d-ok full-width">				
				</div>
			</form>
		</div>
	</div>

</body>
</html>