<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>


<section th:fragment="overview">
	<th:block th:if="${notification != null}">
		<div id="action-notification" th:class="${notification.affirmative ? 'affirmative' : 'failure'}">
			<span class="x-1em-padding y-05em-padding" th:text="${notification.message}"></span>
			<script type="text/javascript">
				setTimeout(function() {
					$('#action-notification').hide('slow');
				}, 5000);
			</script>
		</div>
	</th:block>

	<ul class="table-ul">
		<li class="tr-li trh-li">
			<div>Šifra<br>kupca</div>
			<div>Naziv kupca</div>
			<div>Datum fakturisanja</div>
			<div>Datum dospeća</div>
			<div>Fakturisna vrednost<br>(sa PDV)</div>
			<div>Plaćeno</div>
			<div>Ostatak Duga</div>
			<div></div>
		</li>
		<li th:each="inv, stat : ${invoices}" class="tr-li" th:id="${'inv_row_' + inv.id}"
			th:classappend="|${stat.odd ? 'tr-odd' : ''} ${invoice?.id == inv.id ? 'updated-highlight' : ''}|">
			<div>
				<span th:text="${inv.customer.code}"></span>
			</div>
			<div>
				<span th:text="${inv.customer.name}"></span>
			</div>
			<div class="date-value">
				<span th:text="${inv.createdOn != null ? #temporals.format(inv.createdOn, 'dd.MM.yyyy') : ''}"></span>
			</div>
			<div class="date-value">
				<span th:text="${inv.dueForPayment != null ? #temporals.format(inv.dueForPayment, 'dd.MM.yyyy') : ''}"></span>
			</div>
			<div class="txt-right">
				<span th:text="${#numbers.formatDecimal(inv.totalAmount,1,'POINT',2,'COMMA')}"></span>
			</div>
			<div class="txt-right">
				<span th:text="${#numbers.formatDecimal(inv.paidAmount, 1,'POINT',2,'COMMA')}"></span>
			</div>
			<div class="txt-right red-txt">
				<span th:text="${#numbers.formatDecimal(inv.totalAmount - inv.paidAmount, 1, 'POINT',2,'COMMA')}"></span>
			</div>
			<div class="x-1em-padding">
				<a th:href="@{/billings/payments/invoice/{inv_id}(inv_id = ${inv.id})}"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');">
					<img alt="Uplate" th:src="@{/resources/img/money_coins.svg}" height="24" data-title="Pregled uplata">
				</a>
				&ensp;
				<a th:href="@{/billings/payments/invoice/{inv_id}(inv_id = ${inv.id})}"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');">
					<img alt="Uplate" th:src="@{/resources/img/invoice.svg}" height="24" data-title="Pregled uplata">
				</a>			
			</div>
		</li>
		<li class="tr-li">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div th:with="totalSum=${#aggregates.sum(invoices.![totalAmount])}" class="sum-td txt-right">
				<span th:text="${#numbers.formatDecimal(totalSum,1,'POINT',2,'COMMA')}">0,00</span>
			</div>
			<div></div>
			<div></div>
			<div></div>
		</li>
	</ul>
</section>

<!-- ----------------------------------
*============  LISTA UPLATA ===========
 ---------------------------------  -->
<section th:fragment="payments" class="overlay">
	<div class="popup-box">
		<div class="popup-box-header">
			<span>Pregled uplata</span>
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">X</button>
		</div>
		<th:block th:unless="${#lists.isEmpty(payments)}">
			<ul class="table-ul" style="border: none;">
				<li class="tr-li trh-li">
					<div>R.br.</div>
					<div>Datum uplate</div>
					<div>Iznos</div>
					<div></div>
				</li>			
				<li th:each="pay, stat : ${payments}" class="tr-li" th:id="${'paid_row_' + pay.id}"
					th:classappend="${stat.odd} ? 'tr-odd' : ''">
					<div>
						<span th:text="${stat.count}"></span>
					</div>
					<div class="date-value">
						<span th:text="${pay.paymentDate != null ? #temporals.format(pay.paymentDate, 'dd.MM.yyyy') : ''}"></span>
					</div>
					<div class="txt-right">
						<span th:text="${#numbers.formatDecimal(pay.amount,1,'POINT',2,'COMMA')}"></span>
					</div>
					<div>
						<a th:href="@{/billings/invoices/{inv_id}/payments/{pay_id}/edit(inv_id=${pay.invoice.id}, pay_id=${pay.id})}"
							onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');"
							data-title="Izmeni uplatu">
							<img alt="Izmeni" th:src="@{/resources/img/edit.svg}" height="18">	
						</a>	
						&ensp;
						<a th:href="@{/billings/payments/{pay_id}/remove(pay_id=${pay.id})}"
							onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');"
							data-title="Ubriši uplatu">
							<img alt="Obriši" th:src="@{/resources/img/delete.svg}" height="18">	
						</a>			
					</div>
				</li>
				<li class="tr-li">
					<div></div>
					<div></div>
					<div th:with="totalSum=${#aggregates.sum(payments.![amount])}" class="sum-td txt-right">
						<span th:text="${#numbers.formatDecimal(totalSum,1,'POINT',2,'COMMA')}">0,00</span>
					</div>
					<div></div>
				</li>			
			</ul>
		</th:block>
		<th:block th:if="${#lists.isEmpty(payments)}">
			<div class="x-1em-padding y-1em-padding">
				<h3>Još uvek nemate uplata po ovoj fakturi.</h3>
			</div>
		</th:block>
		<div class="x-1em-padding y-1em-padding txt-right">
			<button class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
				<span>Odustani</span>
			</button>
			&emsp;
			<a th:href="@{/billings/invoices/{inv_id}/payments/add(inv_id=${invoice.id})}"
				onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');" class="bttn-3d bttn-3d-ok">
				<span><font style="font-size: 1.5em;">+</font> Unesi uplatu</span>	
			</a>
		</div>
	</div>
</section>


<div th:fragment="payment" class="overlay">		
	<div class="popup-box">
		<div class="popup-box-header">
			<span th:text="${invoice?.id != null ? 'Izmena uplate na fakturi' : 'Nova uplata na fakturi'}"></span>			
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">X</button>
		</div>
		<!-- 			onsubmit="event.preventDefault(); javascript:postAndFragmentResult(this, 'main_conetent');" -->
		<form th:action="@{/billings/payments/save}" th:object="${payment}" method="post" name="add_or_edit_payment_form"
			class="y-1em-padding x-2em-padding">
			<table>
				<tr th:with="inv=${invoice}">
					<td><label for="inv_no" >Broj fakture</label>:</td>
					<td>
						<span th:if="${#fields.hasErrors('invoice')}" th:errors="*{invoice.id}" class="fieldError-label"></span>
						<input type="text" id="inv_no" name="invoice.id" th:value="${inv.id}" class="s-input"
							th:appendclass="${#fields.hasErrors('invoice')}? fieldError" readonly="readonly"/>
					</td>
				</tr>				
				<tr>
					<td><label for="pay_pdate" >Datum uplate</label>:</td>
					<td><input type="date" id="pay_pdate" th:field="*{pickerPaymentDate}" min="2010-01-01" /></td>
				</tr>			
				<tr>
					<td><label for="pay_amount" >Iznos</label>:</td>
					<td>
						<input type="text" id="pay_amount" name="amount" 
							th:value="${#numbers.formatDecimal(payment.amount,1,'POINT',2,'COMMA')}"
							class="s-input" style="font-weight: bolder;" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><br></td>
				</tr>
				<tr>
					<td colspan="2" class="y-1em-padding txt-right">
						<input type="hidden" th:field="*{id}">							
						<input type="button" value="Odustani" class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
						&emsp;
						<input type="submit" value="Saćuvaj" class="bttn-3d bttn-3d-ok">
					</td>
				</tr>
			</table>		
		</form>
	</div>
</div>


<section th:fragment="remove_confirm" class="overlay">
	<div class="popup-box">
		<div class="popup-box-header">
			<span>Brisanje uplate</span>
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">x</button>
		</div>
		<div>
			<p th:with="p=${payment}" class="x-1em-padding">
				Da li ste sigurni da želite da obrišete uplatu <br>
				za fakturu br. <span th:text="${p.invoice.invoiceNo}"></span>,<br>
				od dana: <span th:text="${p.paymentDate != null ? #temporals.format(p.paymentDate, 'dd.MM.yyyy') : ''}"></span><br>
				na iznos <span th:text="${#numbers.formatDecimal(p.amount,1,'POINT',2,'COMMA')}"></span>
			</p>
			<button class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
				<span>Odustani</span>
			</button>
			&emsp;
			<a th:href="@{/billings/payments/{pay_id}/remove (pay_id=${payment.id})}" class="bttn-3d bttn-3d-ok"
				onclick="event.preventDefault(); deleteItem(this.href, 'main_conetent');">
				<span>Obriši</span>
			</a>		
		</div>
	</div>
</section>

</html>