<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>


<section th:fragment="overview">
	<th:block th:if="${notification != null}">
		<div id="action-notification" th:class="${notification.affirmative ? 'affirmative' : 'failure'}">
			<span class="x-1em-padding y-05em-padding" th:text="${notification.message}"></span>
			<script type="text/javascript">
				setTimeout(function() {
					$('#action-notification').hide('slow');
				}, 5000);
			</script>
		</div>
	</th:block>
	
	<div id="title-header" class="x-grow1">
		<span th:text="${#messages.msg('billings.overview')}"></span>
		<th:block th:if="${customer != null}">
			<span th:text="${customer?.name}"></span>
		</th:block>
	</div>

	<ul class="table-ul fx-selfalign-centar">
		<li class="tr-li trh-li">
			<div></div>
			<div class="l-input" th:text="${#messages.msg('date.invoicing')}">Datum fakturisanja</div>
			<div class="l-input">Datum dospeća</div>
			<div>Fakturisna vrednost<br>(sa PDV)</div>
			<div>Plaćeni iznos</div>
			<div>Plaćeno dana</div>
			<div>Ostatak Duga</div>
			<div></div>
		</li>
		<th:block th:unless="${#lists.isEmpty(invoices)}">
		<li th:each="inv, stat : ${invoices}" class="tr-li" th:id="${'inv_row_' + inv.id}"
			th:classappend="|${stat.odd ? 'tr-odd' : ''}|">
			<div th:text="${#strings.concat(stat.count, '.')}" class="ordinal"
				th:classappend="${stat.first ? 'show-customer' : ''}" 
				th:attr="data-customer=${#strings.concat('#', inv.customer.code, ': ', inv.customer.name)}">
			</div>
			<div class="date-value">
				<span th:text="${inv.createdOn != null ? #temporals.format(inv.createdOn, 'dd.MM.yyyy') : ''}"></span>
			</div>
			<div class="date-value">
				<span th:text="${inv.dueForPayment != null ? #temporals.format(inv.dueForPayment, 'dd.MM.yyyy') : ''}"></span>
			</div>
			<div class="txt-right">
				<span th:text="${#numbers.formatDecimal(inv.totalAmount,1,'POINT',2,'COMMA')}"></span>
			</div>
			<div class="txt-right" th:classappend="${inv.paidAmount > 0 ? 'green-txt':''}">
				<span th:text="${#numbers.formatDecimal(inv.paidAmount, 1,'POINT',2,'COMMA')}"></span>
			</div>
			<div class="date-value">
				<span th:text="${inv.lastPaymentDate != null ? #temporals.format(inv.lastPaymentDate, 'dd.MM.yyyy') : ''}"></span>
			</div>
			<div th:with="dept=${inv.totalAmount - inv.paidAmount}" class="txt-right" th:classappend="${dept > 0 ? 'red-txt':''}">
				<span th:text="${#numbers.formatDecimal(dept, 1, 'POINT',2,'COMMA')}"></span>
			</div>
			<div>
				&ensp;
				<a th:href="@{/billings/payments/invoice/{inv_id}(inv_id = ${inv.id})}" 
					th:attr="data-title=${'Pregled uplata'}" class="hover-title"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');">
					<img alt="Uplate" th:src="@{/resources/img/money_coins.svg}" height="24">
				</a>
				&ensp;
				<a th:href="@{/invoices/id/{inv_id}(inv_id = ${inv.id})}"
					th:attr="data-title=${'Idi na fakturu'}" class="hover-title">
					<img alt="Uplate" th:src="@{/resources/img/invoice.svg}" height="24">
				</a>			
			</div>
		</li>
		<li class="tr-li">
			<div></div>
			<div></div>
			<div></div>
			<div th:with="totalSum=${#aggregates.sum(invoices.![totalAmount])}" class="sum-td txt-right">
				<span th:text="${#numbers.formatDecimal(totalSum,1,'POINT',2,'COMMA')}">0,00</span>
			</div>
			<div th:with="paidSum=${#aggregates.sum(invoices.![paidAmount])}"
				class="sum-td txt-right" th:classappend="${paidSum > 0 ? 'green-txt':''}">
				<span th:text="${#numbers.formatDecimal(paidSum,1,'POINT',2,'COMMA')}">0,00</span>
			</div>
			<div></div>
			<div th:with="totalDebt=${#aggregates.sum(invoices.![totalAmount]) - #aggregates.sum(invoices.![paidAmount])}"
				class="sum-td txt-right" th:classappend="${totalDebt > 0 ? 'red-txt':''}">
				<span th:text="${#numbers.formatDecimal(totalDebt,1,'POINT',2,'COMMA')}">0,00</span>
			</div>			
			<div></div>
		</li>
		</th:block>
		<th:block th:if="${#lists.isEmpty(invoices)}">
			<li>
				<div></div><div>Nema faktura</div>
			</li>
		</th:block>
	</ul>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		var cust_id = /*[[${customer?.id}]]*/ 0;
		console.log('selected customer: ' + cust_id);
		$.each($('.cust-nav'), function(i, value) {
			var id = '#customer_' + cust_id;
			$(this).toggleClass('highlighted', $(this).is(id));		
		});
		
		var inv_id = /*[[${invoice?.id}]]*/;
		if(inv_id) {
			$('#inv_row_' + inv_id).addClass("updated-highlight").delay(5000).queue(function(next) {
			    $(this).removeClass("updated-highlight");
			    next();
			});	
		}
	/*]]>*/
	</script>
</section>

<!-- ----------------------------------
*============  LISTA UPLATA ===========
 ---------------------------------  -->
<section th:fragment="payments" class="overlay">
	<div class="popup-box">
		<div class="popup-box-header">
			<span>Pregled uplata</span>
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">X</button>
		</div>
		<th:block th:unless="${#lists.isEmpty(payments)}">
			<ul class="table-ul" style="border: none;">
				<li class="tr-li trh-li">
					<div>R.br.</div>
					<div>Datum uplate</div>
					<div>Iznos</div>
					<div></div>
				</li>			
				<li th:each="pay, stat : ${payments}" class="tr-li" th:id="${'paid_row_' + pay.id}"
					th:classappend="${stat.odd} ? 'tr-odd' : ''">
					<div>
						<span th:text="${#strings.concat(stat.count, '.')}" class="ordinal"></span>
					</div>
					<div class="date-value">
						<span th:text="${pay.paymentDate != null ? #temporals.format(pay.paymentDate, 'dd.MM.yyyy') : ''}"></span>
					</div>
					<div class="txt-right">
						<span th:text="${#numbers.formatDecimal(pay.amount,1,'POINT',2,'COMMA')}"></span>
					</div>
					<div>
						<a th:href="@{/billings/invoices/{inv_id}/payments/{pay_id}/edit(inv_id=${pay.invoice.id}, pay_id=${pay.id})}"
							onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');"
							th:attr="data-title=${'Izmeni uplatu'}" class="hover-title">
							<img alt="Izmeni" th:src="@{/resources/img/edit.svg}" height="18">	
						</a>	
						&ensp;
						<a th:href="@{/billings/payments/{pay_id}/remove(pay_id=${pay.id})}"
							onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');"
							th:attr="data-title=${'Obriši uplatu'}" class="hover-title">
							<img alt="Obriši" th:src="@{/resources/img/delete.svg}" height="18">	
						</a>			
					</div>
				</li>
				<li class="tr-li">
					<div></div>
					<div></div>
					<div th:with="totalSum=${#aggregates.sum(payments.![amount])}" class="sum-td txt-right">
						<span th:text="${#numbers.formatDecimal(totalSum,1,'POINT',2,'COMMA')}">0,00</span>
					</div>
					<div></div>
				</li>			
			</ul>
		</th:block>
		<th:block th:if="${#lists.isEmpty(payments)}">
			<div class="x-1em-padding y-1em-padding">
				<h3>Još uvek nemate uplata po ovoj fakturi.</h3>
			</div>
		</th:block>
		<div class="x-1em-padding y-1em-padding txt-right">
			<button class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
				<span>Odustani</span>
			</button>
			&emsp;
			<a th:href="@{/billings/invoices/{inv_id}/payments/add(inv_id=${invoice.id})}"
				onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');" class="bttn-3d bttn-3d-ok">
				<span><font style="font-size: 1.5em;">+</font> Unesi uplatu</span>	
			</a>
		</div>
	</div>
</section>


<div th:fragment="payment" class="overlay">		
	<div class="popup-box">
		<div class="popup-box-header">
			<span th:text="${invoice?.id != null ? 'Izmena uplate na fakturi' : 'Nova uplata na fakturi'}"></span>			
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">X</button>
		</div>
		<!-- 			onsubmit="event.preventDefault(); javascript:postAndFragmentResult(this, 'main_conetent');" -->
		<form th:action="@{/billings/payments/save}" th:object="${payment}" method="post" name="add_or_edit_payment_form"
			onsubmit="event.preventDefault(); javascript:postAndFragmentResult(this, 'main_conetent');"
			class="y-1em-padding x-2em-padding">
			<table>
				<tr th:with="inv=${invoice}">
					<td><label for="inv_no" >Broj fakture</label>:</td>
					<td>
						<span th:if="${#fields.hasErrors('invoice')}" th:errors="*{invoice}" class="fieldError-label"></span>
						<input type="text" id="inv_no" name="invoice" th:value="${inv.id}" class="s-input"
							th:appendclass="${#fields.hasErrors('invoice')}? fieldError" readonly="readonly"/>
					</td>
				</tr>				
				<tr>
					<td><label for="pay_pdate" >Datum uplate</label>:</td>
					<td><input type="date" id="pay_pdate" th:field="*{pickerPaymentDate}" min="2010-01-01" /></td>
				</tr>			
				<tr>
					<td><label for="pay_amount" >Iznos</label>:</td>
					<td>
						<input type="text" id="pay_amount" name="amount" 
							th:value="${#numbers.formatDecimal(payment.amount,1,'POINT',2,'COMMA')}"
							class="l-input" style="font-weight: bolder;" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><br></td>
				</tr>
				<tr>
					<td colspan="2" class="y-1em-padding txt-right">
						<input type="hidden" th:field="*{id}">							
						<input type="button" value="Odustani" class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
						&emsp;
						<input type="submit" value="Saćuvaj" class="bttn-3d bttn-3d-ok">
					</td>
				</tr>
			</table>		
		</form>
	</div>
</div>


<!-- ---------------------------------------- 
============== DELETE PAYMENT ================
 ----------------------------------------- -->
<section th:fragment="remove" class="overlay">
	<div class="popup-box">
		<div class="popup-box-header">
			<span th:text="${#messages.msg('payment.deletion')}">Brisanje uplate</span>
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">x</button>
		</div>
		<div class="x-2em-padding y-1em-padding">
			<ul th:with="p=${payment}" class="y-1em-padding">
				<li style="font-weight: bold;">Da li ste sigurni da želite da obrišete uplatu?</li>
				<li>
					<label th:text="${#messages.msg('invoice.no')}"></label>
					<span th:text="${p.invoice.invoiceNo}"></span>
				</li>
				<li>
					<label th:text="${#messages.msg('payment.date')}"></label>
					<span th:text="${p.paymentDate != null ? #temporals.format(p.paymentDate, 'dd.MM.yyyy') : ''}"></span>
				</li>
				<li>
					<label th:text="${#messages.msg('payment.amount')}"></label>:
					<span th:text="${#numbers.formatDecimal(p.amount,1,'POINT',2,'COMMA')}"></span>
				</li>
			</ul>
			<form th:action="@{/billings/payments/remove}" method="post" th:object="${payment}"
				onsubmit="event.preventDefault(); javascript:postAndFragmentResult(this, 'main_conetent');"
				class="txt-right y-1em-padding">
				<input type="hidden" th:field="*{id}">
				<button class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
					<span th:text="${#messages.msg('cancel')}">Odustani</span>
				</button>
				&emsp;
				<button type="submit" class="bttn-3d bttn-3d-ok">
					<span th:text="${#messages.msg('delete')}"> Obriši</span>
				</button>
			</form>	
		</div>
	</div>
</section>


</html>