<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head :: head( ~{::title} )">
	<meta charset="UTF-8">
	<title>Kupci</title>
</head>

<section th:fragment="overview">
	<th:block th:if="${notification != null}">
		<div id="action-notification" th:class="${notification.affirmative ? 'affirmative' : 'failure'}">
			<span class="x-1em-padding y-05em-padding" th:text="${notification.message}"></span>
			<script type="text/javascript">
				setTimeout(function() {
					$('#action-notification').hide('slow');
				}, 3000);
			</script>
		</div>
	</th:block>
	
	<article class="popup-box customer-box fx-flex-0 x-1em-margin y-1em-margin txt-center"
		style="line-height: 250px;">
		<a th:href="@{/customers/add}" class="bttn-3d bttn-3d-ok"
			onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');">
			<span th:text="${#messages.msg('customer.add')}">Dodaj kupca</span>	
		</a>
	</article>
	<th:block th:unless="${#lists.isEmpty(customers)}">		
		<article th:each="cust, stat : ${customers}" th:id="${'customer_' + cust.id}" 
			class="popup-box customer-box fx-flex-0 x-1em-margin y-1em-margin">
			<div class="popup-box-header">
				<span th:text="${cust.name}"></span>
				<div style="float: right;">				
					<a th:href="@{/customers/{cust_id}/edit(cust_id = ${cust.id})}"
						onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');"
						th:attr="data-title=${#messages.msg('customer.data.edit')}" class="hover-title">
						<img alt="Izmeni" th:src="@{/resources/img/edit.svg}" height="16">	
					</a>
					&ensp;
					<a th:href="@{/billings/customer/{cust_id}(cust_id = ${cust.id})}"
						th:attr="data-title=${#messages.msg('billings.overview')}" class="hover-title">
						<img alt="Potrazivanja" th:src="@{/resources/img/search.svg}" height="18">	
					</a>
				</div>
			</div>
			<div class="customer-box-body x-1em-padding y-1em-padding fx-box fx-dir-col">
				<table class="txt-left">
					<tr>
						<td><label th:text="${#messages.msg('customer.name')}"></label></td>
						<td style="font-weight: bolder;"><span th:text="${cust.name}"></span></td>
					</tr>
					<tr>
						<td><label th:text="${#messages.msg('customer.alt.name')}"></label></td>
						<td><span th:text="${cust.altName}"></span></td>
					</tr>
					<tr>
						<td><label th:text="${#messages.msg('customer.pib')}"></label></td>
						<td><span th:text="${cust.pib}"></span></td>
					</tr>
				</table>
				<div>
					<fieldset class="txt-left">
						<legend th:text="${#messages.msg('address')}">Adresa</legend>
						<span th:text="${cust.zipCode}"></span> <span th:text="${cust.place}"></span> <br>
						<span th:text="${cust.address}"></span>
					</fieldset>
					
					<fieldset class="txt-left">
						<legend th:text="${#messages.msg('contact')}">Kontakt info</legend>
						<span th:text="${cust.email}"></span> <br>
						<span th:text="${cust.phone}"></span> <br>
						<span th:text="${cust.cellPhone}"></span> 
					</fieldset>
				</div>
			</div>
		</article>
	</th:block>
	
</section>


<div th:fragment="edit" class="overlay">		
	<div class="popup-box">
		<div class="popup-box-header">
			<span th:text="${customer?.id != null ? #messages.msg('customer.update') : #messages.msg('customer.add.new')}"></span>
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">X</button>
		</div>
		<form th:action="@{/customers/save}" th:object="${customer}" method="post" name="add_or_edit_customer_form"
			onsubmit="event.preventDefault(); javascript:postAndFragmentResult(this, 'main_conetent');"
			class="y-1em-padding x-2em-padding">
			<table>
				<tr>
					<td><label for="cust_code" th:text="${#messages.msg('customer.code')}">Šifra kupca</label></td>
					<td>
						<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="fieldError-label"></span>
						<input type="text" id="cust_code" th:field="*{code}" />
					</td>
				</tr>
				<tr>
					<td><label for="cust_name" th:text="${#messages.msg('customer.name')}">Naziv kupca</label></td>
					<td>
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError-label"></span>
						<input type="text" id="cust_name" th:field="*{name}" />
					</td>
				</tr>
				<tr>
					<td><label for="cust_altname" th:text="${#messages.msg('customer.alt.name')}">Alternativni naziv</label></td>
					<td><input type="text" id="cust_altname" th:field="*{altName}" /></td>
				</tr>
				<tr>
					<td><label for="cust_pib" th:text="${#messages.msg('customer.pib')}">PIB</label></td>
					<td><input type="text" id="cust_pib" th:field="*{pib}" /></td>
				</tr>
				<tr>
					<td><label for="cust_phone" th:text="${#messages.msg('phone')}">Broj telefona</label></td>
					<td><input type="text" id="cust_phone" th:field="*{phone}" /></td>
				</tr>
				<tr>
					<td><label for="cust_cellphone" th:text="${#messages.msg('phone.cell')}">Mobilni telefon</label></td>
					<td><input type="text" id="cust_cellphone" th:field="*{cellPhone}" /></td>
				</tr>
				<tr>
					<td><label for="cust_email" th:text="${#messages.msg('email')}">E-mail</label></td>
					<td><input type="text" id="cust_email" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td><label for="cust_zipcode" th:text="${#messages.msg('zip.code')}">Poštanski broj</label></td>
					<td><input type="text" id="cust_zipcode" th:field="*{zipCode}" /></td>
				</tr>
				<tr>
					<td><label for="cust_place" th:text="${#messages.msg('place')}">Mesto</label></td>
					<td><input type="text" id="cust_place" th:field="*{place}" /></td>
				</tr>
				<tr>
					<td><label for="cust_address" th:text="${#messages.msg('street.with.no')}">Ulica i broj</label></td>
					<td><input type="text" id="cust_address" th:field="*{address}" /></td>
				</tr>
				<tr>
					<td><label for="cust_note" th:text="${#messages.msg('description')}">Opis</label></td>
					<td><textarea id="cust_note" th:field="*{description}"></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" id="cust_active" th:field="*{active}" checked="checked">
						<label for="cust_note" th:text="${#messages.msg('active')}">Aktian</label>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="y-1em-padding txt-right">
						<input type="hidden" th:field="*{id}">							
						<input type="button" th:value="${#messages.msg('cancel')}" class="bttn-3d" 
							onclick="event.preventDefault(); javascript:closePopup();">
						&emsp;
						<input type="submit" th:value="${#messages.msg('save')}" class="bttn-3d bttn-3d-ok">
					</td>
				</tr>
			</table>		
		</form>
	</div>
</div>

</html>