<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	
	<header th:fragment="header" class="fx-box fx-dir-row fx-valign-cnt fx-justify-sbtw x-2em-padding" id="header">
	
		<span>
			<img alt="Neks" th:src="@{/resources/img/neks_logo_32.png}">
		</span>
		
		<nav class="x-1em-padding">
			<a th:href="@{/customers}" class="x-1em-padding">
				<span th:text="${#messages.msg('customers')}">Kupci</span>
			</a>
			<a th:href="@{/invoices}" class="x-1em-padding">
				<span th:text="${#messages.msg('invoices.overview')}">Pregled fakturisanja</span>
			</a>
			<a th:href="@{/billings}" class="x-1em-padding">
				<span th:text="${#messages.msg('billings.overview')}">Pregled potraživanja</span>
			</a>
		</nav>
		
		<select name="year" id="years_selection" >
		    <option th:each="y : ${#numbers.sequence(2010, 2099)}"
		    	th:value="${y}" th:text="${y}"
		    	th:selected="${y == year}">
		    </option>
		</select>
		
		<div>
			LANG
			
		</div>
	</header>	
</html>