<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="overview">

	<th:block th:if="${notification != null}">
		<div id="action-notification" th:class="${notification.affirmative ? 'affirmative' : 'failure'}">
			<span class="x-1em-padding y-05em-padding" th:text="${notification.message}"></span>
			<script type="text/javascript">
				setTimeout(function() {
					$('#action-notification').hide('slow');
				}, 3000);
			</script>
		</div>
	</th:block>
	
	<div id="title-header" class="x-grow1">
		<span th:text="${#messages.msg('invoices.overview')}"></span>
		<span>za mesec</span>
		<th:block th:if="${month != null}">
			<span th:with="month_name=${T(java.time.Month).of(month).name()}" th:text="${#messages.msg(month_name.toLowerCase())}"></span>
		</th:block>
	</div>

	<ul class="table-ul fx-selfalign-centar">
		<li class="tr-li trh-li">
			<div>
				<a th:href="@{/invoices/add}" class="bttn-3d bttn-3d-xs bttn-3d-ok"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');">
					<span><font style="font-size: 1.75em;">+</font></span>	
				</a>
			</div>
			<div th:text="${#messages.msg('customer.name')}">Naziv kupca</div>
			<div class="s-input" th:text="${#messages.msg('invoice.no')}">Broj fakture</div>
			<div class="l-input" th:text="${#messages.msg('date.invoicing')}">Datum fakturisanja</div>
			<div class="l-input" th:text="${#messages.msg('date.due.for.payment')}">Datum dospeća</div>
			<div>Otpremljena<br>Količina</div>
			<div>Fakturisna vrednost<br>(sa PDV)</div>
			<div></div>
		</li>
		<li th:each="inv, stat : ${invoices}" class="tr-li" th:id="${'inv_row_' + inv.id}"
			th:classappend="${stat.odd} ? 'tr-odd' : ''">
			<div>
				<span th:text="${#strings.concat(stat.count, '.')}" class="ordinal"></span>				
			</div>
			<div class="black-txt">
				<span th:text="${inv.customer.name}"></span>
			</div>
			<div>
				<span th:text="${inv.invoiceNo}"></span>
			</div>
			<div class="date-value">
				<span th:text="${inv.createdOn != null ? #temporals.format(inv.createdOn, 'dd.MM.yyyy') : ''}"></span>
			</div>
			<div class="date-value">
				<span th:text="${inv.dueForPayment != null ? #temporals.format(inv.dueForPayment, 'dd.MM.yyyy') : ''}"></span>
			</div>
			<div>
				<span th:text="${inv.quantity}"></span>
			</div>
			<div class="txt-right">
				<span th:text="${#numbers.formatDecimal(inv.totalAmount,1,'POINT',2,'COMMA')}"></span>
			</div>
			<div class="x-1em-padding">
				<a th:href="@{/invoices/{inv_id}/edit(inv_id = ${inv.id})}"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');"
					th:attr="data-title=${'Izmeni fakturu'}" class="hover-title">
					<img alt="Izmeni" th:src="@{/resources/img/edit.svg}" height="18">
				</a>
				&ensp;
				<a th:href="@{/invoices/{inv_id}/remove(inv_id = ${inv.id})}"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');"
					th:attr="data-title=${'Obriši fakturu'}" class="hover-title">
					<img alt="Obriši" th:src="@{/resources/img/delete.svg}" height="18">	
				</a>
				<!-- 
				<a th:href="@{/billings/payments/invoice/{inv_id}(inv_id = ${inv.id})}"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');">
					<span>Uplate</span>	
				</a>
				 -->			
			</div>
		</li>
		<li class="tr-li">
			<div></div>
			<div>
				<a th:href="@{/invoices/add}" class="bttn-3d bttn-3d-xs bttn-3d-ok"
					onclick="event.preventDefault(); insertFragmentTo(this.href, 'popup_placeholder');">
					<font style="font-size: 1.33em;">+</font>
					<span th:text="${#messages.msg('new.invoice')}">Nova faktura</span>	
				</a>
			</div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div th:with="totalSum=${#aggregates.sum(invoices.![totalAmount])}" class="sum-td txt-right">
				<span th:text="${#numbers.formatDecimal(totalSum,1,'POINT',2,'COMMA')}">0,00</span>
			</div>
			<div></div>
		</li>
	</ul>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var month = /*[[${month}]]*/
		console.log('passed month: ' + month);
		$.each($('.mount-nav'), function(i, value) {
			$(this).toggleClass('highlighted', ++i === month);		
		});
		
		var inv_id = /*[[${invoice?.id}]]*/;
		if(inv_id) {
			$('#inv_row_' + inv_id).addClass("updated-highlight").delay(5000).queue(function(next) {
			    $(this).removeClass("updated-highlight");
			    next();
			});	
		}
	/*]]>*/
	</script>
</section>

	<div th:fragment="edit" class="overlay">		
		<div class="popup-box">
			<div class="popup-box-header">
				<span th:text="${invoice?.id != null ? 'Izmena fakture' : 'Nova faktura'}"></span>
				<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">X</button>
			</div>
			<form th:action="@{/invoices/save}" th:object="${invoice}" method="post" name="add_or_edit_invoice_form"
				onsubmit="event.preventDefault(); javascript:postAndFragmentResult(this, 'main_conetent');"
				class="y-1em-padding x-2em-padding">
				<table>
					<tr>
						<td><label for="cust_name" >Kupac:</label></td>
						<td>
							<span th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}" style="display: block; color: red; font-size: 0.915em;"></span>
							
							<select name="customer" id="cust_name" >
							    <option th:each="cus : ${customers}" 
							    	th:value="${cus.id}" th:text="${cus.name}"
							    	th:selected="${cus?.id == invoice?.customer?.id}" >
							    </option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="inv_no" th:text="${#messages.msg('invoice.no')}">Broj fakture:</label></td>
						<td>
							<span th:if="${#fields.hasErrors('invoiceNo')}" th:errors="*{invoiceNo}" class="fieldError-label"></span>
							<input type="text" id="inv_no" th:field="*{invoiceNo}" class="s-input"
								th:classappend="${#fields.hasErrors('invoiceNo')}? fieldError"  />
						</td>
					</tr>				
					<tr>
						<td><label for="inv_cdate"><span th:text="${#messages.msg('date.invoicing')}"></span>:</label></td>
						<td><input type="date" id="inv_cdate" th:field="*{pickerCreatedOn}" min="2010-01-01" /></td>
					</tr>
					<tr>
						<td><label for="inv_due_date"><span th:text="${#messages.msg('date.due.for.payment')}">Datum dospeca</span>:</label></td>
						<td><input type="date" id="inv_due_date" th:field="*{pickerDueForPayment}" min="2010-01-01" /></td>
					</tr>
					<tr>
						<td><label for="inv_quantity" >Količina:</label></td>
						<td><input type="text" id="inv_quantity" th:field="*{quantity}" class="s-input" autocomplete="off" /></td>
					</tr>				
					<tr>
						<td><label for="inv_total" >Vrednost (sa PDV):</label></td>
						<td>
							<span th:if="${#fields.hasErrors('totalAmount')}" th:errors="*{totalAmount}" class="fieldError-label"></span>
							<input type="text" id="inv_total" th:field="*{totalAmount}" class="m-input" autocomplete="off" style="font-weight: bolder;" />
						</td>
					</tr>
					<tr>
						<td><label for="cust_note" >Opis:</label></td>
						<td><textarea id="cust_note" th:field="*{description}"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" class="y-1em-padding txt-right">
							<input type="hidden" th:field="*{id}">							
							<input type="button" value="Odustani" class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
							<input type="submit" value="Sacuvaj" class="bttn-3d bttn-3d-ok">
						</td>
					</tr>
				</table>		
			</form>
		</div>
	</div>
	
	
<section th:fragment="remove" class="overlay">
	<div class="popup-box">
		<div class="popup-box-header">
			<span th:text="${#messages.msg('invoice.deletion')}">Brisanje fakture</span>
			<button class="bttn-3d bttn-3d-xs" style="float: right;" onclick="event.preventDefault(); javascript:closePopup();">x</button>
		</div>
		<div class="x-2em-padding y-1em-padding">
			<ul th:with="inv=${invoice}" class="y-1em-padding">
				<li style="font-weight: bold;">Da li ste sigurni da želite da obrišete fakturu?</li>
				<li style="font-style: italic;">Brisanjem fakture uklanjate sve uplate za ovu fakturu.</li>
				<li>
					<span th:text="${#messages.msg('invoice.no')}"></span>:<span th:text="${inv.invoiceNo}"></span>
				</li>
				<li>
					<span th:text="${#messages.msg('date.invoicing')}"></span>:
					<span th:text="${inv.createdOn != null ? #temporals.format(inv.createdOn, 'dd.MM.yyyy') : ''}"></span>
				</li>
			</ul>
			<form th:action="@{/invoices/remove}" method="post" th:object="${invoice}"
				onsubmit="event.preventDefault(); javascript:postAndFragmentResult(this, 'main_conetent');"
				class="txt-right y-1em-padding">
				<input type="hidden" th:field="*{id}">
				<button class="bttn-3d" onclick="event.preventDefault(); javascript:closePopup();">
					<span th:text="${#messages.msg('cancel')}">Odustani</span>
				</button>
				&emsp;
				<button type="submit" class="bttn-3d bttn-3d-ok">
					<span th:text="${#messages.msg('delete')}"> Obriši</span>
				</button>
			</form>	
		</div>
	</div>
</section>

</html>